.globaleConfiance {
    background-color: #6D86A6;
    color: #FFFDF3;
    display: flex;
    flex-direction: column;

    img{
        width: 150px;
        height: 180px;
        border-radius: 10px;
    }
    h1{
        text-align: center;
        font-size: 48px;
        margin-bottom: .5rem;
    }
    
    .globalConfiance{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 1rem;
        padding: 3rem  1rem;
    }
    
    .Avatar1{
        display: flex;
        flex-direction: row;
        padding: .5rem;
    }
    .Avatar2{
        display: flex;
        flex-direction: row;
        padding: .5rem;
    }
    .Avatar3{
        display: flex;
        flex-direction: row;
        padding: .5rem;
    }
    p{
        width: 22rem;
        padding: 1rem;
        font-size: 20px;
        text-align: justify;
    }
}