.container_games {
  display: flex;
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  padding: 2rem;
  z-index: 0;
}

.container_games::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../assets/plan_game.png") no-repeat center/cover;
  filter: blur(8px);
  z-index: -1;
  background-size: 100% 100%;
}

.test {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 3rem;
}
.button_jeux_debut {
  width: 60%;
  padding: 1rem;
  font-size: 24px;
  background: #1f3149;
  color: white;
  border-radius: 2rem;
  text-align: center;
  z-index: 1;
  border: none;
  margin-left: 6rem;
  transition: 1s;
}

.button_jeux_debut:hover {
    background: #F2CBC2;
    color: #1f3149;
}

.mess_bvn {
  background: #f2cbc2;
  opacity: 75%;
  width: 80%;
  height: 30%;
  margin-left: 3rem;
  border-radius: 2rem;
  text-wrap: wrap;
  text-align: center;
  padding: 1rem;
  font-size: 24px;

  display: flex;
  justify-content: center;
  align-items: center;
  color: #1f3149;

}

.avatar_container {
  display: flex;
  align-items: flex-end;
}

.avatar_container img {
  width: 26rem;
}
