.container_games2 {
  display: flex;
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  padding: 2rem;
  z-index: 0;

  a {
    width: 6rem;
    text-underline-offset: 0.2em;
  }
  .box-retour {
    display: flex;
    flex-direction: row;

    p {
      color: var(--primary-color);
      font-size: 18px;
    }

    .flecheretour {
      width: 30px;
      height: 15px;
      margin-right: 0.5rem;
    }
  }
}

.container_games2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../assets/plan_game.png") no-repeat center/cover;
  filter: blur(8px);
  z-index: -1;
  background-size: 100% 100%;
}

.test {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.nounderline {
  text-decoration: none;
  
  .button_jeux_debut {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  
    width: 60%;
    padding: 0.5rem;
    font-size: 24px;
    background: var(--primary-color);
    color: var(--second-color);
    border-radius: 2rem;
    z-index: 1;
    border: none;
    margin-left: 1rem;
    transition: 1s;
  
    .flechesuivante {
      width: 55px;
      margin-left: 1rem;
    }
  }
}

.button_jeux_debut:hover {
  background: var(--second-color);
  color: var(--primary-color);
}

.mess_bvn {
  background: #f2cbc2;
  width: 80%;
  height: 30%;
  margin-left: 1rem;
  border-radius: 2rem;
  text-wrap: wrap;
  text-align: left;
  padding: 1rem;
  font-size: 24px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--primary-color);

  p {
    margin-bottom: 1rem;
  }
}

.avatar_container {
  display: flex;
  align-items: flex-end;
}

.avatar_container img {
  width: 26rem;
}
