.container_games {
    background: #cdecf8 url("../assets/plan_game.png") no-repeat center;
    background-size: 100% 100%;
    width: 100vw;
    height: 100vh;
    padding: 2rem; /* Ajoute un padding interne au conteneur */
    position: relative; /* Nécessaire pour positionner les éléments enfants */
    filter: blur(8px);
  }

