.container_navbar {
  background: var(--primary-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: var(--second-color);
  height: 100px;
}

.logo_profil img {
    width: 53px;
}

.logo_site img {
  height: 4rem;
}

.langue_fr {
  font-size: 20px;
}